$visual-grid: true;
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
	background-image: url("../images/bg.jpg")
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.container-all {
	@include span-columns (8);
	@include shift (2);
	
}

li {
	list-style: none;
	
}

.social-icons {
	text-align: right;
	height: 70px;
}

.social-icon {
	display: inline-block;
	list-style: none;
	height: 60px;
	width: 60px;
	margin-right: 1%;
	background-color: #455995;
}

.nav-bar{
	height: 75px;
}

.camera-man {
	background-image: url("../images/top-image.png");
	height: 350px;
}

.nav-button {
	text-align: center;
	color: white;
	height: 50px;
	@include span-columns (3);
	background-color: #B22A32;
	margin-bottom: 25px;	
}

.news-posts {
	margin-top: 25px;
	margin-bottom: 25px;
	height: 200px;
	@include span-columns (4);
	background-color: white;
}

.skateboarders {
	margin: 25px auto;
}

.two-col {
	@include span-columns (8);
	height: 234px;
}

.lancemountain {
	@include span-columns (4 of 8);
	background-image: url("../images/sk8er-4.png");
	background-position: right;
	height: 234px;
}

.rodneymullin {
	@include span-columns (4 of 8);
	background-image: url("../images/sk8er-3.png");
	height: 234px;
}

.stevecaballero {
	@include span-columns (8);
	background-image: url("../images/sk8er-1.png");
	background-position: 75%;
	height: 234px;
	position: relative;
  	bottom: 234px;
}

.tommyguerrero {
	 @include span-columns (4);
	 @include omega();
	 background-image: url("../images/sk8er-2.png");
	 background-position: right;
	 height: 475px;
}

.skateboard-designs {
	@include span-columns(10);
	height: 275px;
	background-color: white;
	
	ul {
		height: 200px;
		display: block;

	}
	
	li {
		@include span-columns(1);
		height: 200px;
		display: inline-block
	}
}